<?xml version="1.0" ?>
<launch>
    <arg name="debug"       default="false" />
    <arg name="useValgrind" default="true" />
    <arg name="batch"       default="false"/>

<!--     <include file="$(find nbv_exploration)/launch/nbv_setup.launch"/> -->

    <arg name="nbv_settings_file" default="$(find nbv_exploration)/config/nbv_settings.yaml"/>

    <!-- Load Rviz -->
<!--    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
          args="-d $(find nbv_exploration)/config/nbv_rtabmap.rviz" output="screen">
    </node>-->

    <group if="$(arg debug)">
        <arg name="launch_prefix" value="gdb --ex run --args" unless="$(arg useValgrind)"  />
        <arg name="launch_prefix" value="valgrind" if="$(arg useValgrind)"/>
        <node pkg="nbv_exploration" name="nbv_main" type="nbv_main" required="false" output="screen" launch-prefix="$(arg launch_prefix)">
          <rosparam file="$(find nbv_exploration)/config/sensor_settings.yaml" command="load" />
          <rosparam file="$(find nbv_exploration)/config/symmetry_detection_settings.yaml" command="load" />
          <rosparam if="$(arg batch)" file="$(find nbv_exploration)/config/nbv_settings_batch.yaml" command="load" />
          <rosparam file="$(arg nbv_settings_file)" command="load" />
        </node>
    </group>
    <group unless="$(arg debug)">
        <arg name="launch_prefix" value=""/>
        <node pkg="nbv_exploration" name="nbv_main" type="nbv_main" required="false" output="screen" launch-prefix="$(arg launch_prefix)">
          <rosparam file="$(find nbv_exploration)/config/sensor_settings.yaml" command="load" />
          <rosparam file="$(find nbv_exploration)/config/symmetry_detection_settings.yaml" command="load" />
          <rosparam if="$(arg batch)" file="$(find nbv_exploration)/config/nbv_settings_batch.yaml" command="load" />
          <rosparam file="$(arg nbv_settings_file)" command="load" />
        </node>
    </group>

</launch>
