<?xml version="1.0" ?>
<launch>
    <arg name="scan_topic" default="/nbv_exploration/scan"/>
    <arg name="debug" default=""/>
    <!--
    <node pkg="nbv_exploration" name="test_octomap" type="test_octomap" args="" required="true" output="screen">
      <remap from="scan_in"  to="$(arg scan_topic)"/>
    </node>
    -->
    
    <node pkg="nbv_exploration" name="sensing_and_mapping" type="sensing_and_mapping" launch-prefix="gdb -ex run --args" args="" required="true" output="screen">
      <rosparam file="$(find nbv_exploration)/config/sensor_settings.yaml" command="load" />
    
      <remap from="scan_in"  to="$(arg scan_topic)"/>
    </node>
</launch>
